apiVersion: v1
kind: Service
metadata:
  name: jaeger
  namespace: monitor-davydov
spec:
  selector:
    app: jaeger
  type: NodePort
  ports:
  - name: ui
    port: 16686
    targetPort: 16686
    nodePort: 30586
  - name: grpc
    port: 14250
    targetPort: 14250
    nodePort: 30450  # <-- добавлен gRPC порт
  - name: otlp-grpc
    port: 4317
    targetPort: 4317
    nodePort: 30417  # <-- добавлен OTLP gRPC порт
  - name: zipkin
    protocol: TCP
    port: 9411
    targetPort: 9411