apiVersion: v1
kind: Service
metadata:
  name: api1
  namespace: monitor-davydov
spec:
  type: NodePort
  selector:
    app: api1
  ports:
  - protocol: TCP
    port: 5001
    targetPort: 5001
    nodePort: 30501 