apiVersion: v1
kind: Service
metadata:
  name: api2
  namespace: monitor-davydov
spec:
  type: NodePort
  selector:
    app: api2
  ports:
  - protocol: TCP
    port: 5002
    targetPort: 5002
    nodePort: 30502